body {

    background-color: #F2F2F2;
    max-width: 450px;
    text-align: center;
    margin: 0 auto
}

.button-numb {
    width: 50px;
    margin: 3px;
    justify-content: center;
    align-items: center;
}

#visor {
    width: 60%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white
}

